
@{
    ViewBag.Title = "Index";
}


        <FONT FACE="Copperplate Gothic" SIZE=10 COLOR="black" >
            Administracion ProyectoFarmacia
        </FONT>
        <h2></h2>

<div>
    <img src="~/Imagenes/portada.png" alt="ProyectoFarmacia" style="width: 100%; max-width: 100%;" />
</div>